<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>List data</title>
  </head>
  <body>
    <h1>My list</h1>
    <table>
        <thead>
            <th>
                <td>
                    Name
                </td>
                <td>
                    Age
                </td>
            </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    John
                </td>
                <td>
                    21
                </td>
            </tr>
            <tr>
                <td>
                    Katrina
                </td>
                <td>
                    26
                </td>
            </tr>
            <tr>
                <td>
                    Taylor
                </td>
                <td>
                    31
                </td>
            </tr>
            <tr>
                <td>
                    <b>Average age:</b>
                </td>
                <td>
                    <b>26</b>
                </td>
            </tr>
        </tbody>
    </table>
  </body>
</html>
